body {
   background-color: crimson;
   color: white;
   text-align: center;
}
.link {
   font-size: 180px;
}
.link:hover {
   color: aqua;
}
.link:link {
   color: lightblue;
}
.link:active {
   color: white;
}
.link:visited {
   color: yellow;
}